<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <!-- <div class="owner" style="padding-top: 20px;">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Jane Faker<br /></h4>
                    <h6 class="description">Enter patient ID</h6>
                </div>
            </div> -->
            <div class="row">
                <div class="col-sm-12" style="text-align: center; margin-top: 20px;">
                    <h6 class="description">Enter patient ID</h6>
                    <form [formGroup]="mainForm" (ngSubmit)="submitForm()">
                        <div class="form-group">
                            <input type="text" class="form-control" id="parentid" placeholder="Patient ID"
                                [formControl]="mainForm.controls['parentid']" required>
                            <!-- <div *ngIf="mainForm.controls['parentid']['touched'] && mainForm.controls['parentid'].errors?.required"
                                class="text text-danger">
                                Patient ID is required.
                            </div> -->
                            <button class="btn btn-md mr-2 btn-primary" [disabled]="mainForm.invalid" type="submit" style="margin-top: 10px;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center" style="min-height: 225px;">
                    --{{data.patient}}
                    <img *ngIf="showLoader"  src="./../../../assets/img/loding.gif" style="width: 125px;">
                    <table *ngIf="data.patient" style="width: 100%;">
                        <tr>
                            <td>
                                <table style="width: 100%;">
                                    <tr><th><u>Patient Details</u></th></tr>
                                    <tr>
                                        <td style="text-align: left; padding-left: 20px;"><pre>{{data.patient | json}}</pre></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td *ngIf="data.practitioner">
                                <table style="width: 100%;">
                                    <tr><th><u>Practitioner</u></th></tr>
                                    <tr>
                                        <td style="text-align: left; padding-left: 20px;"><pre>{{data.practitioner | json}}</pre></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td *ngIf="data.allergy">
                                <table style="width: 100%;">
                                    <tr><th><u>Allergy</u></th></tr>
                                    <tr>
                                        <td style="text-align: left; padding-left: 20px;"><pre>{{data.allergy | json}}</pre></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td *ngIf="data.diagnosis">
                                <table style="width: 100%;">
                                    <tr><th><u>Diagnosis</u></th></tr>
                                    <tr>
                                        <td style="text-align: left; padding-left: 20px;"><pre>{{data.diagnosis | json}}</pre></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td *ngIf="data.medicationOrder">
                                <table style="width: 100%;">
                                    <tr><th><u>Medication Order</u></th></tr>
                                    <tr>
                                        <td style="text-align: left; padding-left: 20px;"><pre>{{data.medicationOrder | json}}</pre></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td *ngIf="data.medicationRequest">
                                <table style="width: 100%;">
                                    <tr><th><u>Medication Request</u></th></tr>
                                    <tr>
                                        <td style="text-align: left; padding-left: 20px;"><pre>{{data.medicationRequest | json}}</pre></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                        <!-- <tr *ngIf="data.name">
                            <th style="text-align: right; padding-right: 20px;">Name :</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.name}}</td>
                        </tr>
                        <tr *ngIf="data.name">
                            <th style="text-align: right; padding-right: 20px;">Family :</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.family}}</td>
                        </tr>
                        <tr *ngIf="data.gender">
                            <th style="text-align: right; padding-right: 20px;">Gender :</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.gender}}</td>
                        </tr>
                        <tr *ngIf="data.maritalStatus">
                            <th style="text-align: right; padding-right: 20px;">Marital Status :</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.maritalStatus}}</td>
                        </tr>
                        <tr *ngIf="data.birthDate">
                            <th style="text-align: right; padding-right: 20px;">BirthDate :</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.birthDate}}</td>
                        </tr>
                        <tr *ngIf="data.telecomHome">
                            <th style="text-align: right; padding-right: 20px;">Contact No. (Home) :</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.telecomHome}}</td>
                        </tr>
                        <tr *ngIf="data.telecomWork">
                            <th style="text-align: right; padding-right: 20px;">Contact No. (Work) :</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.telecomWork}}</td>
                        </tr>
                        <tr *ngIf="data.emergencyContactPerson">
                            <th style="text-align: right; padding-right: 20px;">Emergency Contact Person:</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.emergencyContactPerson}}</td>
                        </tr>
                        <tr *ngIf="data.emergencyContactNumber">
                            <th style="text-align: right; padding-right: 20px;">Emergency Contact Number:</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.emergencyContactNumber}}</td>
                        </tr> -->
                        
                        <tr>
                            <th colspan="2" style="text-align: center;"><u>Practitioner</u></th>
                        </tr>
                        <!-- <tr *ngIf="data.practitionerName">
                            <th style="text-align: right; padding-right: 20px;">Name :</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.practitionerName}}</td>
                        </tr>
                        <tr *ngIf="data.practitionerFamily">
                            <th style="text-align: right; padding-right: 20px;">Family :</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.practitionerFamily}}</td>
                        </tr>
                        <tr *ngIf="data.practitionerGender">
                            <th style="text-align: right; padding-right: 20px;">Gender :</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.practitionerGender}}</td>
                        </tr>
                        <tr *ngIf="data.practitionerQualification">
                            <th style="text-align: right; padding-right: 20px;">Qualification :</th>
                            <td style="text-align: left; padding-left: 20px;">{{data.practitionerQualification}}</td>
                        </tr> -->

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="text-align: center;"><u>Allergy</u></th>
                        </tr>
                        <!-- <tr *ngIf="data.allergy">
                            <td colspan="2" style="text-align: center;">
                                <table *ngFor="let allergy of data.allergy" style="width: 96%;">
                                    <tr *ngIf="allergy.resource.category">
                                        <th style="text-align: right; padding-right: 20px;">Category :</th>
                                        <td style="text-align: left; padding-left: 20px;">{{allergy.resource.category}}</td>
                                    </tr>
                                    <tr *ngIf="allergy.resource.code">
                                        <th style="text-align: right; padding-right: 20px;">Code :</th>
                                        <td style="text-align: left; padding-left: 20px;">{{allergy.resource.code.text}}</td>
                                    </tr>
                                    <tr *ngIf="allergy.resource.recordedDate">
                                        <th style="text-align: right; padding-right: 20px;">Recorded Date :</th>
                                        <td style="text-align: left; padding-left: 20px;">{{allergy.resource.recordedDate}}</td>
                                    </tr>
                                    <tr *ngIf="allergy.resource.reaction">
                                        <th style="text-align: right; padding-right: 20px;">Reaction :</th>
                                        <td style="text-align: left; padding-left: 20px;">{{allergy.resource.reaction[0].description}}</td>
                                    </tr>
                                    <tr *ngIf="allergy.resource.category">
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr> -->

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="text-align: center;"><u>Diagnosis</u></th>
                        </tr>
                        <!-- <tr *ngIf="data.diagnosis">
                            <td colspan="2" style="text-align: center;">
                                <table *ngFor="let diagnosis of data.diagnosis" style="width: 93%;">
                                    <tr *ngIf="diagnosis.resource.resourceType">
                                        <th style="text-align: right; padding-right: 20px;">Resource Type :</th>
                                        <td style="text-align: left; padding-left: 20px;">{{diagnosis.resource.resourceType}}</td>
                                    </tr>
                                    <tr *ngIf="diagnosis.resource.category">
                                        <th style="text-align: right; padding-right: 20px;">Category :</th>
                                        <td style="text-align: left; padding-left: 20px;">{{diagnosis.resource.category[0].text}}</td>
                                    </tr>
                                    <tr *ngIf="diagnosis.resource.code">
                                        <th style="text-align: right; padding-right: 20px;">Code :</th>
                                        <td style="text-align: left; padding-left: 20px;">{{diagnosis.resource.code.text}}</td>
                                    </tr>
                                    <tr *ngIf="diagnosis.resource.effectiveDateTime">
                                        <th style="text-align: right; padding-right: 20px;">Effective Date :</th>
                                        <td style="text-align: left; padding-left: 20px;">{{diagnosis.resource.effectiveDateTime}}</td>
                                    </tr>
                                    <tr *ngIf="diagnosis.resource.result">
                                        <td colspan="2">
                                            <table *ngFor="let result of diagnosis.resource.result" style="width: 100%;">
                                                <tr>
                                                    <th style="text-align: right; padding-right: 20px;">Result :</th>
                                                    <td style="text-align: left; padding-left: 20px;">{{result.display}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr *ngIf="diagnosis.resource.category">
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr> -->
                    </table>

                    <table *ngIf="noData" style="width: 100%;">
                        <tr>
                            <td style="color:#f5593d; font-size: 12px; font-weight: 600;">{{noData}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>