<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/fabio-mangione.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="text-align: center; margin-top: 20px">
          <form [formGroup]="mainForm" (ngSubmit)="submitForm()">
            <div class="form-group">
              <h6 class="description">Please Select Type</h6>
              <select
                class="form-control"
                id="type"
                [formControl]="mainForm.controls['type']"
              >
                <option value="" disabled hidden selected>
                  Select your type
                </option>
                <option value="cerner">cerner</option>
                <option value="epic">epic</option>
              </select>
              <h6 class="description">Enter patient ID</h6>
              <input
                type="text"
                class="form-control"
                id="parentid"
                placeholder="Patient ID"
                [formControl]="mainForm.controls['parentid']"
                required
              />

              <button
                class="btn btn-md mr-2 btn-primary"
                [disabled]="mainForm.invalid"
                type="submit"
                style="margin-top: 10px"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-12 ml-auto mr-auto text-center"
          style="min-height: 225px"
        >
          <img
            *ngIf="showLoader"
            src="./../../../assets/img/loding.gif"
            style="width: 125px"
          />
          <table *ngIf="data.patient && type == 'epic'" style="width: 100%">
            <tr>
              <td>
                <table style="width: 100%">
                  <tr>
                    <td>&nbsp;</td>
                    <th style="text-align: left; padding-left: 20px">
                      <u>Patient Details</u>
                    </th>
                  </tr>
                  <tr *ngIf="data.patient.name[0]">
                    <th style="text-align: right; padding-right: 20px">
                      Name :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.name[0].text }}
                    </td>
                  </tr>
                  <tr *ngIf="data.patient.birthDate">
                    <th style="text-align: right; padding-right: 20px">
                      Birth Date :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.birthDate }}
                    </td>
                  </tr>
                  <tr *ngIf="data.patient.name[0]">
                    <th style="text-align: right; padding-right: 20px">
                      Family :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.name[0].family }}
                    </td>
                  </tr>
                  <tr *ngIf="data.patient.gender">
                    <th style="text-align: right; padding-right: 20px">
                      Gender :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.gender }}
                    </td>
                  </tr>
                  <tr *ngIf="data.patient.maritalStatus">
                    <th style="text-align: right; padding-right: 20px">
                      Marital Status :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.maritalStatus.text }}
                    </td>
                  </tr>
                  <tr *ngIf="data.patient.telecom">
                    <th style="text-align: right; padding-right: 20px">
                      Contact No. :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.telecom[0].value }}
                    </td>
                  </tr>

                  <tr>
                    <th
                      style="
                        text-align: right;
                        padding-right: 20px;
                        vertical-align: top;
                      "
                    >
                      JSON Data :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.patient | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td *ngIf="data.practitioner">
                <table style="width: 100%">
                  <tr>
                    <td>&nbsp;</td>
                    <th style="text-align: left; padding-left: 20px">
                      <u>Practitioner</u>
                    </th>
                  </tr>
                  <tr *ngIf="data.practitioner.name">
                    <th style="text-align: right; padding-right: 20px">
                      Name :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.practitioner.name[0].text }}
                    </td>
                  </tr>
                  <tr *ngIf="data.practitioner.name">
                    <th style="text-align: right; padding-right: 20px">
                      Family :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.practitioner.name[0].family }}
                    </td>
                  </tr>
                  <tr *ngIf="data.practitioner.gender">
                    <th style="text-align: right; padding-right: 20px">
                      Gender :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.practitioner.gender }}
                    </td>
                  </tr>
                  <tr *ngIf="data.practitioner.qualification">
                    <th style="text-align: right; padding-right: 20px">
                      Qualification :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.practitioner.qualification[0].code.text }}
                    </td>
                  </tr>

                  <tr>
                    <th
                      style="
                        text-align: right;
                        padding-right: 20px;
                        vertical-align: top;
                      "
                    >
                      JSON Data :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.practitioner | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td *ngIf="data.allergy">
                <table style="width: 100%">
                  <tr>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.allergy | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td *ngIf="data.diagnosis">
                <table style="width: 100%">
                  <tr>
                    <th><u>Diagnosis</u></th>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.diagnosis | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td *ngIf="data.medicationOrder">
                <table style="width: 100%">
                  <tr>
                    <th><u>Medication Order</u></th>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.medicationOrder | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td *ngIf="data.medicationRequest">
                <table style="width: 100%">
                  <tr>
                    <th><u>Medication Request</u></th>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.medicationRequest | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table *ngIf="data.patient && type == 'cerner'" style="width: 100%">
            <tr>
              <td>
                <table style="width: 100%">
                  <tr>
                    <td>&nbsp;</td>
                    <th style="text-align: left; padding-left: 20px">
                      <u>Patient Details</u>
                    </th>
                  </tr>
                  <tr *ngIf="data.patient.entry[0].resource.name[0].given[1]">
                    <th style="text-align: right; padding-right: 20px">
                      Name :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.entry[0].resource.name[0].given[1] }}
                    </td>
                  </tr>
                  <tr *ngIf="data.patient.entry[0].resource.birthDate">
                    <th style="text-align: right; padding-right: 20px">
                      Birth Date :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.entry[0].resource.birthDate }}
                    </td>
                  </tr>
                  <tr *ngIf="data.patient.entry[0].resource.name[0].family">
                    <th style="text-align: right; padding-right: 20px">
                      Family :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.entry[0].resource.name[0].family }}
                    </td>
                  </tr>
                  <tr *ngIf="data.patient.entry[0].resource.gender">
                    <th style="text-align: right; padding-right: 20px">
                      Gender :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.entry[0].resource.gender }}
                    </td>
                  </tr>

                  <tr *ngIf="data.patient.entry[0].resource.telecom[0].value">
                    <th style="text-align: right; padding-right: 20px">
                      Contact No. :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.entry[0].resource.telecom[0].value }}
                    </td>
                  </tr>
                  <tr *ngIf="data.patient.entry[0].resource.telecom[1].value">
                    <th style="text-align: right; padding-right: 20px">
                      Email :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.patient.entry[0].resource.telecom[1].value }}
                    </td>
                  </tr>

                  <tr>
                    <th
                      style="
                        text-align: right;
                        padding-right: 20px;
                        vertical-align: top;
                      "
                    >
                      JSON Data :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.patient | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td *ngIf="data.practitioner">
                <table style="width: 100%">
                  <tr>
                    <td>&nbsp;</td>
                    <th style="text-align: left; padding-left: 20px">
                      <u>Practitioner</u>
                    </th>
                  </tr>
                  <tr *ngIf="data.practitioner">
                    <th style="text-align: right; padding-right: 20px">
                      Name :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.practitioner.name[0].text }}
                    </td>
                  </tr>
                  <tr *ngIf="data.practitioner">
                    <th style="text-align: right; padding-right: 20px">
                      Family :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.practitioner.name[0].family }}
                    </td>
                  </tr>
                  <tr *ngIf="data.practitioner">
                    <th style="text-align: right; padding-right: 20px">
                      Gender :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      practitioner gender
                    </td>
                  </tr>
                  <tr *ngIf="data.practitioner">
                    <th style="text-align: right; padding-right: 20px">
                      Qualification :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      {{ data.practitioner.name[0].given[0] }}
                    </td>
                  </tr>

                  <tr>
                    <th
                      style="
                        text-align: right;
                        padding-right: 20px;
                        vertical-align: top;
                      "
                    >
                      JSON Data :
                    </th>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.practitioner | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td *ngIf="data.allergy">
                <table style="width: 100%">
                  <tr>
                    <th><u>allergy</u></th>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.allergy | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td *ngIf="data.diagnosis">
                <table style="width: 100%">
                  <tr>
                    <th><u>Diagnosis</u></th>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.diagnosis | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td *ngIf="data.medicationOrder">
                <table style="width: 100%">
                  <tr>
                    <th><u>Medication Order</u></th>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.medicationOrder | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td *ngIf="data.medicationRequest">
                <table style="width: 100%">
                  <tr>
                    <th><u>Medication Request</u></th>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 20px">
                      <pre>{{ data.medicationRequest | json }}</pre>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table *ngIf="noData" style="width: 100%">
            <tr>
              <td style="color: #f5593d; font-size: 12px; font-weight: 600">
                {{ noData }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
