<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/fabio-mangione.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="text-align: center; margin-top: 20px">
          <h6 class="description">Create patient</h6>
        </div>
        <div class="col-sm-12" style="margin-top: 20px">
          <form [formGroup]="mainForm" (ngSubmit)="submitForm()">
            <div class="form-group">
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Type :
                </div>
                <div class="col-md-9" style="float: left">
                  <select
                    class="form-control"
                    id="type"
                    [formControl]="mainForm.controls['type']"
                  >
                    <option value="" disabled hidden selected>
                      Select your type
                    </option>
                    <option value="cerner">cerner</option>
                    <option value="epic">epic</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Patient Name :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Patient Name"
                    [formControl]="mainForm.controls['name']"
                    required
                  />
                </div>
              </div>

              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Phone Number :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    placeholder="xxx-xxx-xxxx"
                    [formControl]="mainForm.controls['phone']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Email Address :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Email Address"
                    [formControl]="mainForm.controls['email']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Gender :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="gender"
                    placeholder="female"
                    [formControl]="mainForm.controls['gender']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Birth Date :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="birthDate"
                    placeholder="YYYY-MM-DD"
                    [formControl]="mainForm.controls['birthDate']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Address Line :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="line"
                    placeholder="100 Milky Way"
                    [formControl]="mainForm.controls['line']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  City :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    placeholder="Verona"
                    [formControl]="mainForm.controls['city']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  State :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="state"
                    placeholder="WI"
                    [formControl]="mainForm.controls['state']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Postal Code :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="postalCode"
                    placeholder="53593"
                    [formControl]="mainForm.controls['postalCode']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Country :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="country"
                    placeholder="Country"
                    [formControl]="mainForm.controls['country']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  maritalStatus :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="maritalStatus"
                    placeholder="Married"
                    [formControl]="mainForm.controls['maritalStatus']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div class="col-md-3" style="float: left">&nbsp;</div>
                <div class="col-md-9" style="float: left">
                  <button
                    class="btn btn-md mr-2 btn-primary"
                    [disabled]="mainForm.invalid"
                    type="submit"
                    style="margin-top: 10px"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>

          <div
            *ngIf="data"
            class="col-sm-12"
            style="margin: 2px 0; text-align: center"
          >
            Success Created! <br />
            Patient ID: {{ data }}
          </div>

          <div
            *ngIf="noData"
            class="col-sm-12"
            style="margin: 2px 0; text-align: center"
          >
            {{ noData }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
