<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/fabio-mangione.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="text-align: center; margin-top: 20px">
          <h6 class="description">Update patient</h6>
        </div>
        <div class="col-sm-12" style="margin-top: 20px">
          <form [formGroup]="mainForm" (ngSubmit)="submitForm()">
            <div class="form-group">
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Patient Id :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="patientid"
                    placeholder="Patient Id"
                    [formControl]="mainForm.controls['patientid']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Patient Name :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Patient Name"
                    [formControl]="mainForm.controls['name']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Patient Email :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Patient Email"
                    [formControl]="mainForm.controls['email']"
                    required
                  />
                </div>
              </div>

              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Phone Number :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    placeholder="xxx-xxx-xxxx"
                    [formControl]="mainForm.controls['phone']"
                    required
                  />
                </div>
              </div>

              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Gender :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="gender"
                    placeholder="female"
                    [formControl]="mainForm.controls['gender']"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div
                  class="col-md-3"
                  style="
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                    float: left;
                  "
                >
                  Birth Date :
                </div>
                <div class="col-md-9" style="float: left">
                  <input
                    type="text"
                    class="form-control"
                    id="birthDate"
                    placeholder="YYYY-MM-DD"
                    [formControl]="mainForm.controls['birthDate']"
                    required
                  />
                </div>
              </div>

              <div class="col-sm-12" style="margin: 2px 0; float: left">
                <div class="col-md-3" style="float: left">&nbsp;</div>
                <div class="col-md-9" style="float: left">
                  <button
                    class="btn btn-md mr-2 btn-primary"
                    [disabled]="mainForm.invalid"
                    type="submit"
                    style="margin-top: 10px"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </form>

          <div
            *ngIf="data"
            class="col-sm-12"
            style="margin: 2px 0; text-align: center"
          >
            Success Updated!
          </div>

          <div
            *ngIf="noData"
            class="col-sm-12"
            style="margin: 2px 0; text-align: center"
          >
            {{ noData }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
