<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="./">About Us</a></li>
                    <li><a href="./">Contact Us</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by smartData Inc.
                </span>
            </div>
        </div>
    </div>
</footer>
